@page "/topic/{TopicId:int}/{Title}/{NumOfComments:int?}"

@using BlazorForum.Data
@using BlazorForum.Database
@using BlazorForum.Libraries

@inject IDatabaseCalls DatabaseCalls
@inject LibData LibData
@inject LibFormat LibFormat

<PageTitle>Topic</PageTitle>

<div class="forum_content">
    <div class="forum" style="background-color: rgb(240,240,240);">

        <span class="forum_header">
            <a class="header" href="/">ACCN Forum</a>
            <span> | @LibFormat.HtmlDecode(@topicTitle)</span>
        </span>

        <br />
        <br />

        @if (@commentList != null)
        {
            foreach (var comment in @commentList)
            {
                <strong>@LibFormat.HtmlDecode(@comment.Name)</strong>
                <br/>
                <span><img src=@LibFormat.FlagLink(@comment.CountryCode)> @LibData.CountryName(@comment.CountryCode)</span>
                <br />
                <span class="forum_faint">@LibFormat.DateTimeFormat(@comment.CreatedOn)</span>
                <br />
                <span class="forum_faint">@comment.Views @if (comment.Views == 1) { <span> view</span> } else { <span> views</span> }</span>
                <br />
                <span >@LibFormat.HtmlDecode(@comment.Text)</span>
                <br />
                <hr>
            }
        }
    </div>

    <br />
    <br />
</div>


@code {
    [Parameter]
    public int TopicId { get; set; }

    [Parameter]
    public string Title { get; set; } = String.Empty;

    [Parameter]
    public int NumOfComments { get; set; }

    List<Comment>? commentList;
    string topicTitle = String.Empty;
    bool topicClosed;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        try
        {
            commentList = await DatabaseCalls.GetCommentListAsync(TopicId);

            if (commentList.Count != 0)
            {
                topicTitle = commentList.First().Title;
                topicClosed = commentList.First().Closed;

                await DatabaseCalls.IncTopicViewsAsync(TopicId);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }
}
