@page "/new"

@using BlazorForum.Data
@using BlazorForum.Libraries
@using BlazorForum.Components

@inject LibValidate LibValidate
@inject LibExternal LibExternal

<PageTitle>New Topic</PageTitle>

<div class="forum_content">
    <div class="forum">

        <CompForumHeader ForumLinkOn=true ActionTitle="New Topic" ActionLinkOn=false></CompForumHeader>

        <br />
        <br />

        <div class="panel">
            <EditForm FormName="Hello" Model="this" OnSubmit="SubmitAsync">                
                @* User name ----------------------------------------- *@
                <div class="column20 right-desktop">User name&nbsp;&nbsp;</div>
                <div class="column paddingR-10">
                    <InputText @bind-Value="comment.Name" class="textfield" tabindex="1" size="40" maxlength="20" />
                </div>
                <div class="spacer4"></div>
                @* Title --------------------------------------------- *@
                <div class="column20 right-desktop">Title&nbsp;&nbsp;</div>
                <div class="column paddingR-10">
                    <InputText @bind-Value="comment.Title" class="textfield" tabindex="2" size="40" maxlength="60" />
                </div>
                <div class="spacer4"></div>
                @* Text ---------------------------------------------- *@
                <div class="column20 right-desktop">Text&nbsp;&nbsp;</div>
                <div class="column paddingR-10">
                    <InputTextArea @bind-Value="comment.Text" class="textarea" tabindex="3" rows="20" maxlength="5000" />
                </div>
                <div class="spacer4"></div>
                @* Submit -------------------------------------------- *@
                <div class="column20 right-desktop">&nbsp;</div>
                <div class="column paddingR-10">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </EditForm>
        </div>

        @if (ipInfo is not null)
        {
            <p>IP: @ipInfo.Ip</p>
            <p>Postal number: @ipInfo.Postal</p>
            <p>City: @ipInfo.City</p>
            <p>Region: @ipInfo.Region</p>
            <p>Country code: @ipInfo.CountryCode</p>
            <p>Host Name: @ipInfo.HostName</p>
            <p>User Agent: @ipInfo.UserAgent</p>        
        }

    </div>
</div>

@code {
    Comment comment = new Comment();

    IpInfo ipInfo;

    private async Task SubmitAsync()
    {
        ipInfo = await LibExternal.GetIpInfoAsync();

        try
        {
            (bool result, string message) = await LibValidate.IsCommentValidAsync(comment);
            if (result == true)
            {
                // Call the method to save the comment to the database
                // await DatabaseCalls.SaveCommentAsync(comment);
                // Redirect to the topic page or show a success message
            }
            else
            {
                ////////////////
            }
        }
        catch (Exception ex)
        {
            // Handle validation errors
        }
    }
}
